:root {
  --gradient-blue: linear-gradient(90deg,#3072be 0%,#5b9fef);
  --gradient-case-study: linear-gradient(90deg,#f76b1c 0%,#fad961);
  --gradient-project: linear-gradient(90deg,#64c5d1 0%,#62dba6);
  --gradient-premier: linear-gradient(90deg,#3023ae 0%,#c86dd7);
  --gradient-pro: linear-gradient(90deg,#fad961 0%,#f76b1c);
  --gradient-power: linear-gradient(90deg,#64c5d1 0%,#62dba6);
  --gradient-strategic: linear-gradient(90deg,#4a90e2 0%,#173757);
  --gradient-dark: linear-gradient(90deg,#18334f 0%,#192532);
  --color-white: #fff;
  --color-grey: #f0f0f0;
  --color-denim--lightest: #5b9fef;
  --color-denim--light: #4a90e2;
  --color-denim: #3c80cf;
  --color-denim--dark: #3072be;
  --color-jade--lightest: #14d997;
  --color-jade--light: #19cd91;
  --color-jade: #0eb87f;
  --color-jade--dark: #0baa75;
  --color-burntsienna: #ed5c68;
  --color-cabaret: #d4465f;
  --color-dandelion: #ffd860;
  --color-bostonblue: #318bc5;
  --color-pictonblue: #3ab2e6;
}
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
  flex-flow: row;
}

.right {
  margin-left: auto;
}

.flex-c {
  display: flex;
  flex-flow: column;
}

.down {
  margin-top: auto;
}

button, .btn, .btn-outlined {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  font-size: 16px;
  height: 41px;
  line-height: 39px;
  text-decoration: none;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 600;
  transition: transform 0.4s ease 0s, background-color, border-color, background, color;
  border-width: 1px;
  border-style: solid;
  /* border-color: var(--color-denim); */
  border-color: #FEDC4C;
  border-image: initial;
  border-radius: 25px;
}

button:hover, .btn:hover, .btn-outlined:hover {
  transform: translateY(-3px);
  /* border-color: #0764af; */
  border-color:#FEDC4C ;
}

.btn {
  color: rgb(255, 255, 255);
  /* background: var(--color-denim); */
  background: #FEDC4C;
}
     
.btn:hover {
  /* background: var(--color-denim--dark); */
  background: #FEDC4C;
}

.btn-outlined {
  /* color: var(--color-denim); */
  color: #FEDC4C;
  background: transparent;
}

.heading-36 {
  font-size: 36px;
}

.heading-56 {
  font-size: 56px;
}

.content {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

section {
  position: relative;
}

.section-end {
  text-align: center;
}

.heading {
  text-align: center;
  margin: 0 auto 56px auto;
  letter-spacing: 0.023em;
  margin: 0px;
  padding: 0px;
  /* color: rgb(42, 48, 57); */
  color: #ffffff;
  line-height: 1.6;
}

.heading2 {
  text-align: center;
  margin: 0 auto 56px auto;
  letter-spacing: 0.023em;
  margin: 0px;
  padding: 0px;
  /* color: rgb(42, 48, 57); */

  color: #000000;
  line-height: 1.6;
}

.heading p {
  margin-top: -16px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  /* color: rgb(70, 78, 91); */
  color: #ffffff;
}
.con-1 {
  width: 100%;
  margin: 0px auto;
  max-width: 1148px;
}

.con-2 {
  width: 100%;
  margin: 0px auto;
  max-width: 1448px;
}

.small-box {
  margin: auto;
  max-width: 600px;
}

.details {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  /* color: rgb(70, 78, 91); */
  color: #000000;
}

@media (max-width: 1148px) {
  .con-1, .con-2 {
    margin: 0 12px;
    width: auto;
  }
}

@media (max-width: 512px) {
  .flex {
    flex-flow: column;
  }

  .right {
    margin: auto;
  }
}