#top-1 {
  display: block;
  position: relative;
  z-index: 10;
  /* background-color: rgb(215, 240, 250); */
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  will-change: background-image;
  background-image: linear-gradient(0deg, #F3D65E -30%,  #000000 85%, #000000  100%);
  /* color: rgb(42, 48, 57); */
  color: #ffffff;
  opacity: 0.999;
  padding-top: 50px;
}

#top-1-pattern {
  position: relative;
  z-index: 2;
  left: 50%;
  transform: translateX(-51%);
  width: 102%;
  overflow: hidden;
  height: 70px;
  user-select: none;
}

#top-1-pattern svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.top-1-left {
  max-width: 45%;
  width: 45%;
}

.top-1-left-heading {
  padding-bottom: 24px;
}

.top-1-left-heading h1 {
  margin: 0;
}

.top-1-details {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  /* color: rgb(70, 78, 91); */
  color: #ffffff;
}

.top-1-buttons {
  display: flex;
  padding: 24px 4px 40px 0;
}

.top-1-buttons button, .top-1-buttons a {
  margin-right: 12px;
}

.top-1-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-1-img {
  width: 100%;
  text-align: right;
}

.top-1-img img {
  width: 70%;
}

@media (max-width: 512px) {
  .top-1-left {
    text-align: center;
  }

  .top-1-left {
    width: auto;
    max-width: none;
  }

  .top-1-buttons {
    justify-content: center;
  }

  .top-1-img {
    text-align: center;
  }
}