.team-desc {
  padding-bottom: 40px;
  color: #fff;
  max-width: 800px;
  margin: auto;
}

/* Add CSS here for the whole team page */
.members {
  display: flex;
  margin: 0px;
  padding: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.person {
  display: flex;
  position: relative;
  border: 2px solid rgb(207, 205, 205);
  padding: 24px 10px 6px 10px;
  margin: 28px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
  min-width: 15%;
  background-color: #fff;
  box-shadow:#fad225(0, 0, 0, 0.2) 0px 25px 50px -12px,
   #fad225(0, 0, 0, 0.3) 0px 30px 60px -30px,
   #fad225(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.person:hover {
  border: 2px solid rgb(160, 159, 159);
  transform: scale(1.05);
}

.person_photo {
  border-radius: 50%;
  border: 2px solid rgb(139, 137, 137);
}

.person_name {
  margin-top: 0.5em;
  margin-bottom: 0px;
  /* margin-top: 0.5px; */
  font-family: "Baloo Paaji 2", cursive;
  font-size: 2em;
}

.person_social_media {
  list-style: none;
  padding: 0px;
  margin: 1em;
}

.person_social_media li {
  display: inline-block;
  margin: 0em 1em;
  position: relative;
  font-size: 0.9em;
}

.person_social_media i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
}

.person_social_media a {
  display: inline-block;
}

.person_social_media a:before {
  border: 2px solid rgb(78, 119, 131);
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, var(--color-denim), #c648c8);
  transition: all 265ms ease-out;
}

.person_social_media a:hover:before {
  transform: scale(0);
  transition: all 170ms ease-in;
}

#blue {
  background-color: var(--color-denim);
  position: relative;
  z-index: -1;
}

.person_social_media a:hover i {
  transform: scale(1.8);
  -ms-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  background: -webkit-linear-gradient(45deg, var(--color-denim), #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

@media only screen and (min-width: 768px) {
  .person {
    width: 25%;
  }
}

@media only screen and (max-width: 767px) {
  .person {
    display: inline-block;
    width: 100%;
  }
}

/* Ended CSS for this section */
